<template>
  <body>
  <div class ="waviy">
    
    <span style="--i:1">Ma Petite Librairie</span>
    


   
  </div>
</body>
  
</template>

<style scoped>
* {

  padding: 0;
  margin: 0;
  box-sizing: border-box; ;
 
  
  
}


body {
  background-color: #ede0c8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  border: 4px double #7F4829; 
  border-radius : 50px; 
 
  
  
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 100px;
  color: #7F4829;
  text-transform: uppercase;
  font-family: 'Gill Sans',  sans-serif;

 
}

</style>

